.booking-form {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  min-width: 250px;
}

.booking-form input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  min-height: 45px;
  min-width: -webkit-fill-available;
}

label {
  font-weight: bold;
}

small {
  text-transform: initial;
}
