.site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  margin-right: 10px;
  color: var(--color-black-pearl);
  text-decoration: none;
  font-weight: 700;
}

.nav-links a:hover {
  color: var(--color-green);
}

.logo {
  width: 58px;
}

@media (max-width: 645px) {
  .nav-links {
    flex-grow: 1;
    font-size: 12px;
  }
}
