.home-page {
  margin-top: 0;
}

.home-page .hero {
  height: 100vh;
}

.hero h1 {
  color: var(--color-white);
}

.home-page .menu {
  margin-top: 10px;
}

.menu ul {
  display: flex;
  flex-direction: column;
}

.menu img {
  height: auto;
  max-height: 240px;
  width: 100%;
  object-fit: cover;
}

.menu .card-header {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.card .description {
  padding: 10px;
  line-height: 1.2;
}

.view-link {
  margin-top: 8px;
  display: block;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .home-page .menu {
    font-size: var(--font-size-big);
    margin-top: 0;
  }
  .menu .card {
    flex-direction: row;
    width: 100%;
  }
  .menu .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .menu .card > * {
    width: 50%;
  }
}
